{:routes {""              {:to [:mmm]}
          :plonat-atek    {:to [:mmm "/games/plonat_atek"]}
          :iii-telefoni   {:to [:mmm "/projects/iii-telefoni"]}
          :self-hosted    {:to [:mmm "/blog/self-hosted_virtual_home"]}
          :aspect-ratios  {:to [:mmm "/blog/aspect_ratios"]}

          ; legacy blog posts
          :blog {:to [:mmm "/blog"]}
          "blog/2015/06-27/challenging-myself" {:to [:mmm "/blog/challenging_myself"]}
          "blog/2015/06-29/stencils-101" {:to [:mmm "/blog/stencils_101"]}
          "blog/2015/08-08/automating-my-rice" {:to [:mmm "/blog/automating_my_rice"]}
          "blog/2015/08-25/ludum-dare-33-postmortem" {:to [:mmm "/blog/ludum_dare_33_postmortem"]}
          "blog/2016/05-29/love-lua-photoshop-and-games" {:to [:mmm "/blog/love_lua_photoshop_and_games"]}
          "blog/2017/06-26/video-synth-research" {:to [:mmm "blog/video_synth_research"]}
          "blog/2017/06-28/clocks-triggers-gates" {:to [:mmm "blog/clocks_triggers_gates"]}
          "blog/2017/07-04/stretching-gates" {:to [:mmm "blog/stretching_gates"]}}
 :404 "
    <html>
      <head>
        <meta charset=\"UTF-8\">
        <title>not found</title>
      </head>
      <body>
        <h3>entry not found :(</h3>
        <p>
          if you followed a link here, please let me know at s+missing <i>&lt;ät&gt;</i> s-ol <i>&lt;döt&gt;</i> nu.
        </p>
        <p>
          in the meantime, you may find what you were looking for at <a href=\"//mmm.s-ol.nu\">mmm.s-ol.nu</a>.
        </p>
      </body>
    </html>"}
